@using Microsoft.AspNetCore.Mvc.Localization
@using ProjectClock.BusinessLogic.Dtos.AccountDtos
@model LoginDto
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
    var successMessage = TempData["SuccessMessage"] as string;
    var userNotExist = TempData["UserNotExist"] as string;
}

@inject IViewLocalizer Localizer

<div class="container-fluid form-body m-0 py-5">
    <div class="container border-primary rounded-4 pt-2 text-white bg-opacity-50 text-bg-info col-lg-4">
        <h1 class="text-center pt-5">@ViewData["Title"]</h1>
        <div class="row justify-content-center text-center">
            <div class="col-auto my-4">
                <section>
                    @if (Model is not null && Model.LoginFailed)
                    {
                        <p class="text-warning text-bg-warning p-1">@Localizer["PassInvalid"]</p>
                    }
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <p class="text-success text-bg-success p-1">
                            @successMessage
                        </p>
                    }
                    @if (!string.IsNullOrEmpty(userNotExist))
                    {
                        <p class="text-warning text-bg-warning p-1">
                            @userNotExist
                        </p>
                    }
                    <form id="account" method="post">                        
                        <div class="form-floating my-2 text-start">
                            <input asp-for="@Model.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="@Model.Email" class="form-label"></label>
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating my-2 text-start">
                            <input type="password" asp-for="@Model.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="@Model.Password" class="form-label">@Localizer["Password"]</label>
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div>
                            <div class="checkbox text-start">
                                <label asp-for="@Model.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="@Model.RememberMe" />
                                    <label asp-for="@Model.RememberMe" class="form-label">@Localizer["Remember"]</label>
                                </label>
                            </div>
                        </div>
                        <div class="btn-group col-12" role="group">
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-outline-primary rounded-5 mx-3 ">Login</button>
                            <a asp-action="Register" class="w-100 btn btn-lg btn-outline-primary rounded-5 button mx-3">@Localizer["Register"]</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}